=transition($prop)
    -webkit-transition: $prop
    -moz-transition: $prop
    -ms-transition: $prop
    -o-transition: $prop
    transition: $prop
=transform($property)
    -webkit-transform: $property
    -moz-transform: $property
    -ms-transform: $property
    -o-transform: $property
    transform: $property
.heading
    font-family: 'Montserrat', sans-serif
    font-weight: bold
    font-size: 42px
    line-height: 51px
    text-align: center
.owl-carousel
    position: static
.owl-nav
    position: absolute
    right: 0
    bottom: 55px
.owl-next,.owl-prev
    width: 48px
    height: 48px
    display: inline-flex
    align-items: center
    justify-content: center
    position: relative
    &:hover
        span
            background: linear-gradient(180deg, #7492FF 0%, #426BFF 100%)
        svg
            fill: #fff
    svg
        z-index: 2
        margin-right: 4px
        fill: #72A1FB
    span
        position: absolute
        width: 100%
        height: 100%
        background: #fff
        border-radius: 10px
        left: 0
        top: 0
        z-index: 1
        +transform(rotate(45deg))
.owl-next
    margin-left: 32px
    +transform(rotate(180deg))
    svg
        margin-left: 0
.desc
    color: #474747
    font-size: 17px
    h2
        font-weight: bold
        font-size: 42px
        line-height: 54px
        color: #1F1F1F
        margin-bottom: 50px
        margin-top: 70px
        font-family: 'Montserrat', sans-serif
    h4
        font-size: 20px
        line-height: 24px
        margin-top: 50px
        margin-bottom: 25px
        color: #1F1F1F
input[type="text"],input[type="email"],input[type="password"],select,textarea
    border: 1px solid #CDCDCD
    box-sizing: border-box
    border-radius: 10px
    font-size: 17px
    padding: 14px 24px
    color: #838383
input[type="text"]:focus,input[type="email"]:focus,input[type="password"]:focus,select:focus,textarea.form-control:focus
    border: 1px solid #4282FF
    box-shadow: none!important
select.form-control
    border-radius: 10px
    height: 40px
textarea.form-control
    border-radius: 10px
button[type="submit"]
    background: linear-gradient(180deg, #7492FF 0%, #426BFF 100%)
    border-radius: 10px
    width: 200px
    padding: 0
    border: 0
    color: #fff
    display: flex
    align-items: center
    justify-content: center
    height: 54px
    font-size: 18px
    +transition(all .3s ease)
    svg
        margin-right: 10px
    &:hover
        background: linear-gradient(180deg, #7392FF 0%, #082FBB 100%)
button:focus,input:focus
    outline: none
img
    max-width: 100%
body
    font-family: 'Lato', sans-serif
    color: #000
    font-size: 15px
    line-height: 24px
header
    background: rgba(0, 5, 15, 0.8)
    padding: 34px 0
    position: fixed
    z-index: 9
    width: 100%
    left: 0
    top: 0
    .logo
        img
            max-width: 90%
    .topmenu
        ul
            margin: 0
            padding: 0
            li
                list-style: none
                a
                    font-weight: bold
                    text-decoration: none
                    font-size: 16px
                    line-height: 20px
                    position: relative
                    color: #fff
                    +transition(all .3s ease)
                    &:before
                        position: absolute
                        left: 0
                        bottom: -8px
                        content: ''
                        height: 1px
                        width: 0
                        background: #4282FF
                        +transition(all .3s ease)
                    &:hover
                        color: #4282FF
                        &:before
                            width: 100%
                &.parent.rt
                    ul
                        left: auto
                        width: 140px
                        right: -20px
                &.parent
                    position: relative
                    ul
                        position: absolute
                        left: -20px
                        top: 60px
                        width: 280px
                        border-radius: 10px
                        background: rgba(10, 10, 10, 0.95)
                        padding: 0 20px
                        display: none
                        li
                            &:last-child
                                a
                                    border: 0
                        a
                            display: block
                            text-align: left
                            border-bottom: 1px solid #555555
                            color: #EAEAEA
                            padding: 25px 0
                            text-decoration: none
                            &:hover
                                color: #4282FF
                                border-bottom: 1px solid #4282FF
                            &:before
                                display: none
footer
    .copyright
        padding: 22px 0
        background: #030303
        color: #fff
        font-family: 'Montserrat',sans-serif
        font-size: 14px
        line-height: 17px
    .about_nla
        background: #F3F3F3
        padding: 60px 0 70px
        .footmenu
            margin-top: 50px
            a
                font-weight: 600
                font-size: 16px
                line-height: 20px
                color: #1F1F1F
                text-transform: capitalize
        .social
            margin-top: 55px
            a
                &:hover
                    svg
                        fill: #426BFF
            svg
                fill: #838383
                +transition(all .3s ease)
#slider
    height: 100vh
    background: url("/images/slider_bg.png")no-repeat center center
    background-size: cover
    color: #fff
    .social
        position: absolute
        bottom: 75px
        left: 0
        a
            display: inline-block
            margin-right: 35px
            &:hover
                svg
                    fill: #7392FF
            svg
                fill: #fff
                +transition(all .3s ease)
    .row
        position: relative
    .text
        font-family: 'Montserrat',sans-serif
        font-weight: bold
        font-size: 68px
        line-height: 82px
        letter-spacing: 0.03em
        text-transform: uppercase
        margin-bottom: 60px
        text-shadow: 3px 3px 15px rgba(115, 166, 252, 0.6)
    .subtext
        font-size: 18px
        letter-spacing: 0.6em
        text-transform: capitalize
#create
    padding: 110px 0
    .heading
        margin-bottom: 30px
    .desc
        margin-top: 55px
        font-weight: bold
        font-size: 21px
        line-height: 29px
        color: #474747
#latest_news
    background: #070707
    padding: 55px 0 75px
    .heading
        color: #fff
        letter-spacing: 0.1em
#user_stories
    padding: 120px 0 60px
#newsletter
    padding: 45px 0 140px
    .subtext
        letter-spacing: 0.74em
        font-size: 20px
        line-height: 24px
        margin: 30px 0 70px
    form
        position: relative
        input
            width: 100%
        button
            position: absolute
            top: 0
            right: 0
            text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.6)
#latest_news
    .heading
        margin-bottom: 45px
    .container
        position: relative
        padding-bottom: 90px
    .owl-nav
        bottom: 0
        right: 30px
    .inner
        background: #fff
        border-radius: 25px
        .cat
            font-size: 18px
            text-transform: uppercase
            letter-spacing: 0.1em
            padding-bottom: 45px
            font-family: 'Montserrat',sans-serif
            span
                margin-right: 18px
                color: #73A5FC
                font-weight: bold
                text-shadow: 3px 3px 7px rgba(115, 165, 252, 0.6);
                display: inline-block
                +transform(rotate(-90deg))
        .title
            font-weight: bold
            font-size: 21px
            color: #232323
            font-family: 'Montserrat',sans-serif
            margin-bottom: 30px
            min-height: 48px
        .desc
            font-size: 15px
            line-height: 21px
            color: #767676
            margin-bottom: 30px
        .pad
            padding: 30px 15px
            .addpad
                padding: 0 15px
        a.readmore
            display: flex
            align-items: center
            justify-content: center
            background: linear-gradient(180deg, #7492FF 0%, #426BFF 100%)
            border-radius: 0 0 25px 25px
            color: #fff
            font-weight: 600
            font-size: 21px
            line-height: 68px
            font-family: 'Montserrat',sans-serif
            text-decoration: none
            &:hover
                img
                    margin-left: 25px
            img
                width: auto
                margin-left: 18px
                +transition(all .3s ease)
#user_stories
    .heading
        margin-bottom: 70px
    .container
        position: relative
        padding-bottom: 90px
        .title
            font-weight: bold
            font-size: 29px
            line-height: 35px
            color: #1f1f1f
            font-family: 'Montserrat',sans-serif
            margin-bottom: 15px
        .subtitle
            font-size: 20px
            line-height: 24px
            color: #474747
            margin-bottom: 25px
        .desc
            font-size: 15px
            line-height: 24px
            color: #838383
            margin-bottom: 20px
        a.readmore
            display: flex
            align-items: center
            font-size: 18px
            color: #4282ff
            font-weight: bold
            text-decoration: none
            &:hover
                img
                    margin-left: 30px
            img
                margin-left: 20px
                +transition(all .3s ease)
        .owl-carousel
            .owl-nav
                right: 30px
                bottom: 0
                .owl-next span, .owl-prev span
                    background: #141414
                    +transition(all .3s ease)
                .owl-next, .owl-prev
                    &:hover
                        span
                            background: linear-gradient(180deg, #7492FF 0%, #426BFF 100%)
                svg
                   fill: #fff
            .item
                img
                    max-width: 100%
                    width: auto
                    border-radius: 15px
.intro.statpage
    background: url('/images/pp_top.jpg')no-repeat center
.intro.stories
    background: url('/images/stories_top.jpg')no-repeat center
.intro.kb
    background: url('/images/kb_top.jpg')no-repeat center
.intro.support
    background: url('/images/support_top.jpg')no-repeat center
.intro.company
    background: url('/images/company_top.jpg')no-repeat center
.intro.pp
    background: url('/images/pp_top.jpg')no-repeat center
.intro.impressum
    background: url('/images/impressum_top.jpg')no-repeat center
.intro.partners
    background: url('/images/partners_top.jpg')no-repeat center
.intro.login,.intro.pcat,.intro.lic,.intro.prof
    background: url('/images/login_top.jpg')no-repeat center
section.intro
    height: 340px
    background-size: cover
    display: flex
    justify-content: flex-end
    align-items: center
    padding-bottom: 95px
    flex-direction: column
    h1
        color: #fff
        font-weight: bold
        font-size: 42px
        line-height: 54px
        font-family: 'Montserrat',sans-serif
    .subtitle
        color: #fff
        letter-spacing: 0.08em
        font-size: 20px
section.login-section
    background: #E5E5E5
    padding: 80px 0 120px
    form
        max-width: 470px
        background: #fff
        padding: 35px 30px 10px 30px
        border-radius: 15px
        box-shadow: 5px 5px 30px rgba(188, 188, 188, 0.25)
        .group
            margin-bottom: 30px
            input.form-control
                height: 50px
            input[type="checkbox"]
                display: none
            input[type="checkbox"]+label
                font-size: 15px
                line-height: 24px
                color: #838383
                letter-spacing: 0
                display: flex
                align-items: center
                position: relative
                &:before
                    content: ''
                    display: inline-block
                    border: 1px solid #587CFF
                    border-radius: 4px
                    width: 16px
                    height: 16px
                    margin-right: 12px
            input[type="checkbox"]:checked+label:after
                position: absolute
                content: ''
                background: url('/images/checkbox.png')no-repeat center
                width: 20px
                height: 20px
                left: 2px
                top: 0
            button[type="submit"]
                font-weight: 600
                font-size: 21px
                font-family: 'Montserrat',sans-serif
                width: 100%
                height: 50px
            a.problems
                font-size: 15px
                line-height: 24px
                color: #474747
                display: flex
                cursor: pointer
                padding-bottom: 10px
                align-items: center
                img
                    margin-left: 10px
                    +transition(all .3s ease)
            a.problems.opened
                img
                    +transform(rotate(180deg))
            .other
                display: none
                a
                    font-size: 15px
                    line-height: 24px
                    color: #4282FF
                    border-bottom: 1px solid rgba(188, 188, 188, 0.25)
                    display: flex
                    align-items: center
                    text-decoration: none
                    height: 40px
        label
            margin-left: 10px
            font-weight: 500
            font-size: 20px
            margin-bottom: 30px
            line-height: 24px
            letter-spacing: 0.08em
#breadcrumbs
    background: #f7f7f7
    border-top: 1px solid #e1e1e1
    height: 50px
    align-items: center
    display: flex
    font-family: 'Montserrat',sans-serif
    color: #1f1f1f
    font-size: 13px
    line-height: 16px
    .container
        display: flex
        align-items: center
    span.divider
        display: inline-flex
        align-items: center
        padding: 0 10px
section.register
    background: #E5E5E5
    padding: 100px 0 120px
    form
        background: #fff
        padding: 35px 40px 80px
        border-radius: 15px
        box-shadow: 5px 5px 30px rgba(188, 188, 188, 0.25)
        .formhead
            font-weight: 500
            font-size: 20px
            line-height: 24px
            letter-spacing: 0.08em
            padding-bottom: 30px
            border-bottom: 1px solid #E1E1E1
            margin-bottom: 45px
        .req
            margin-left: 30px
            margin-bottom: 35px
            font-weight: 500
            font-size: 17px
            line-height: 20px
        label
            font-weight: 500
            font-size: 17px
            line-height: 20px
            width: 205px
        .form-group
            margin-bottom: 30px
            button[type="submit"]
                margin-top: 30px
                letter-spacing: 0.1em
                font-weight: bold
section#partners
    padding: 90px 0 60px
    .pretext
        font-size: 17px
        margin-bottom: 60px
    .partner
        padding-bottom: 55px
        padding-top: 15px
        border-bottom: 1px solid #E1E1E1
        border-right: 1px solid #E1E1E1
        &:nth-child(even)
            border-right: 0
        &:nth-last-child(-n+2)
            border-bottom: 0
        .row
            height: 110px
        .title
            font-size: 30px
            line-height: 54px
            font-family: 'Montserrat',sans-serif
section#impressum
    padding: 70px 0 100px
    .desc
        line-height: 26px
section#pp
    padding: 10px 0 100px
    .desc
        p
            font-size: 15px
            color: #838383
section#company
    padding: 20px 0 120px
    .cv
        box-shadow: 5px 5px 30px rgba(188, 188, 188, 0.25)
        border-radius: 15px
        overflow: hidden
        margin-bottom: 80px
        .title
            font-size: 21px
            color: #1f1f1f
            letter-spacing: 0.08em
            font-weight: bold
            font-family: 'Montserrat',sans-serif
            text-transform: uppercase
            margin-bottom: 15px
        .position
            font-size: 20px
            margin-bottom: 25px
    p
        color: #838383
        font-size: 15px
    iframe
        border: 0
        border-radius: 15px
    .addr_list
        &>div
            padding: 25px 0 25px 70px
            font-size: 20px
            line-height: 28px
        .addr
            background: url('/images/home_icon.png')no-repeat left
        .phone
            background: url('/images/phone_icon.png')no-repeat left
        .mail
            background: url('/images/mail_icon.png')no-repeat left
section#support
    padding: 100px 0 120px
    input[type="file"]
        display: none
    .attach
        display: flex
        align-items: center
        label
            margin-bottom: 0
            margin-right: 30px
        span
            font-size: 13px
            line-height: 22px
            color: #838383
    .file_val
        margin-top: 10px
        font-size: 13px
        line-height: 22px
        color: #838383
    .form-group
        margin-bottom: 30px
    label
        font-weight: 600
    .alert-primary
        margin-bottom: 70px
    .alert-secondary
        margin-top: 80px
        img
            margin-right: 30px
.alert-primary
    background: linear-gradient(180deg, #DEEFFF 0%, #BADDFF 100%)
    border-radius: 10px
    font-weight: bold
    font-size: 17px
    line-height: 20px
    color: #4282FF
    border: 0
    padding: 20px 30px
.alert-secondary
    background: linear-gradient(180deg, #ECECEC 0%, #D7D7D7 100%)
    padding: 23px 30px
    border-radius: 10px
    border: 0
    font-size: 17px
    color: #474747
.alert-dismissible .close
    font-size: 32px
    padding: 14px 20px
#kb
    padding-bottom: 60px
    .cats
        margin-bottom: 80px
        a
            font-size: 17px
            line-height: 21px
            color: #474747
            font-family: 'Montserrat',sans-serif
            border-bottom: 1px solid transparent
            text-decoration: none
            &:hover
                border-bottom: 1px solid #4282FF
            &.active
                border-bottom: 1px solid #4282FF
                font-weight: bold
    .item
        margin-bottom: 60px
        img
            border-radius: 15px
        .title
            font-weight: 600
            font-size: 29px
            line-height: 35px
            color: #4282FF
            font-family: 'Montserrat',sans-serif
            margin-bottom: 20px
        .minidesc
            font-size: 15px
            line-height: 24px
            color: #838383
            margin-bottom: 20px
        a.readmore
            display: flex
            align-items: center
            font-size: 18px
            color: #4282ff
            font-weight: bold
            text-decoration: none
            &:hover
                img
                    margin-left: 30px
            img
                margin-left: 20px
                +transition(all .3s ease)
section#stories
    padding: 100px 0
    background: #F3F3F3
    .stories_vid
        padding-bottom: 45px
        border-bottom: 1px solid #E1E1E1
        margin-bottom: 45px
    iframe
        border: #0b2e13
        width: 100%
        height: 630px
        border-radius: 15px
    .item
        margin-bottom: 45px
        img
            border-radius: 15px
            height: 175px
            width: 100%
        .title
            margin-top: 20px
        a
            font-weight: 500
            font-size: 20px
            line-height: 24px
            letter-spacing: 0.08em
            color: #1F1F1F
            text-decoration: none
section#pcat
    .item
        padding: 50px 0
        border-bottom: 1px solid #E1E1E1
        &:last-child
            border-bottom: 0
        img
            border-radius: 15px
    .title
        font-weight: 600
        font-size: 29px
        line-height: 35px
        color: #4282FF
        margin-bottom: 15px
        font-family: 'Montserrat', sans-serif
    .subtitle
        font-size: 20px
        line-height: 24px
        letter-spacing: 0.08em
        color: #474747
        margin-bottom: 25px
    .minidesc
        font-size: 15px
        line-height: 24px
        color: #838383
        margin-bottom: 20px
    a.readmore
        display: flex
        align-items: center
        font-size: 18px
        color: #4282ff
        font-weight: bold
        text-decoration: none
        &:hover
            img
                margin-left: 30px
        img
            margin-left: 20px
            +transition(all .3s ease)
section#pcat
    .bl_but
        background: linear-gradient(180deg, #252525 0%, #0D0D0D 100%)
        border-radius: 10px
        color: #fff
        display: inline-block
        padding: 15px 70px
        letter-spacing: 0.1em
        font-weight: bold
        font-size: 18px
        line-height: 22px
        text-decoration: none
        margin: 0 15px
            +transition(all .3s ease)
        &:hover
            background: linear-gradient(180deg, #7492FF 0%, #426BFF 100%)
    .buy_but
        margin: 0 15px
        border-radius: 10px
        color: #fff
        display: inline-block
        padding: 15px 70px
        letter-spacing: 0.1em
        font-weight: bold
        font-size: 18px
        line-height: 22px
        text-decoration: none
        background: linear-gradient(180deg, #7492FF 0%, #426BFF 100%)
        +transition(all .3s ease)
        &:hover
            background: linear-gradient(180deg, #7392FF 0%, #082FBB 100%)
    .features
        .f_img
            justify-content: center
            height: 200px
            display: flex
            align-items: center
            background: linear-gradient(180deg, #FCFCFC 0%, #F9F9F9 100%)
            box-shadow: 5px 5px 15px rgba(152, 152, 152, 0.25)
            border-radius: 10px
            margin-bottom: 27px
            overflow: hidden
        .name
            letter-spacing: 0.08em
            font-weight: 500
            font-size: 20px
            line-height: 28px
            color: #474747
            text-align: center
            margin-bottom: 20px
    .other
        img
            box-shadow: 5px 5px 30px rgba(125, 125, 125, 0.25)
    a.feature_list_but
        display: block
        color: #fff
        letter-spacing: 0.08em
        font-weight: 500
        font-size: 20px
        line-height: 24px
        background: linear-gradient(180deg, #7492FF 0%, #426BFF 100%)
        border-radius: 10px
        padding: 18px 0
        text-align: center
        cursor: pointer
        margin-bottom: 40px
        &:hover
            background: linear-gradient(180deg, #7392FF 0%, #082FBB 100%)
        .tog
            display: none
            &.vis
                display: block
    .full_list
        .versions
            margin-bottom: 20px
            .vs
                background: linear-gradient(180deg, #ECECEC 0%, #D7D7D7 100%)
                border-radius: 10px
                color: #1F1F1F
                padding: 15px 0
                text-align: center
                font-weight: bold
                font-size: 18px
                line-height: 22px
                &.bl
                    background: linear-gradient(180deg, #252525 0%, #0D0D0D 100%)
                    color: #fff
        .fl_group
            margin-bottom: 30px
            .fl_head
                background: #E8E8E8
                border-radius: 10px
                padding: 15px 30px
                letter-spacing: 0.08em
                font-size: 15px
                line-height: 18px
                font-weight: bold
                text-transform: uppercase
                font-family: 'Montserrat', sans-serif
                margin-bottom: 10px
            .fl_item
                margin: 0
                border-bottom: 1px solid #DCDCDC
                .col-md-6
                    padding: 15px
                    font-size: 17px
                    line-height: 24px
                    color: #707070
                .col-md-3
                    background: #F4F4F4
                    display: flex
                    align-items: center
                    justify-content: center
                    &:last-child
                        border-left: 3px solid #fff
                    span.full
                        border-radius: 100%
                        background: linear-gradient(180deg, #7492FF 0%, #426BFF 100%)
                        width: 24px
                        height: 24px
                    span.empty
                        border: 2px solid #7492FF
                        border-radius: 100%
                        width: 24px
                        height: 24px
                span.text
                    text-align: center
                    color: #707070
                    font-size: 15px
                    line-height: 22px
                .gs
                    text-align: center
                    color: #707070
                    font-size: 15px
                    line-height: 22px
                    background: #F4F4F4
    .pricing
        .price
            width: 90%
            margin: 0 auto
            text-align: center
            background: linear-gradient(180deg, #FCFCFC 0%, #F9F9F9 100%)
            box-shadow: 5px 5px 15px rgba(152, 152, 152, 0.25)
            border-radius: 10px
            margin-top: 45px
            padding-bottom: 40px
            img
                margin-top: -45px
                margin-bottom: 40px
            .lic_type
                background: linear-gradient(180deg, #252525 0%, #0D0D0D 100%)
                color: #fff
                font-weight: bold
                font-size: 15px
                line-height: 18px
                text-transform: uppercase
                font-family: 'Montserrat', sans-serif
                padding: 20px 0
                margin-bottom: 55px
            .sum
                color: #4282FF
                font-family: 'Montserrat', sans-serif
                font-size: 42px
                line-height: 51px
                margin-bottom: 10px
            .sub_sum
                color: #4282FF
                letter-spacing: 0.08em
                text-transform: uppercase
                font-size: 18px
                line-height: 22px
                margin-bottom: 25px
            .feats
                border-top: 1px solid #DCDCDC
                margin-bottom: 40px
                div
                    font-size: 17px
                    line-height: 24px
                    text-align: center
                    color: #707070
                    padding: 15px 0
                    border-bottom: 1px solid #DCDCDC
            .buybut
                a
                    border-radius: 10px
                    color: #fff
                    display: inline-block
                    padding: 15px 70px
                    letter-spacing: 0.1em
                    font-weight: bold
                    font-size: 18px
                    line-height: 22px
                    text-decoration: none
                    cursor: pointer
                    background: linear-gradient(180deg, #7492FF 0%, #426BFF 100%)
                    &:hover
                        background: linear-gradient(180deg, #7392FF 0%, #082FBB 100%)
        .bgpanel
            margin-top: 100px
            background: url('/images/bgpanel.png')no-repeat center
            background-size: cover
            padding: 25px 35px
            justify-content: space-between
            font-size: 17px
            line-height: 54px
            display: flex
            align-items: center
            color: #FFFFFF
            border-radius: 10px
            h4
                color: #4282FF
                font-weight: 600
                font-family: 'Montserrat', sans-serif
                font-size: 23px
                line-height: 54px
                margin-bottom: 0
            a.download_but
                color: #fff
                border-radius: 10px
                display: inline-block
                padding: 15px 70px
                letter-spacing: 0.1em
                font-weight: bold
                font-size: 18px
                line-height: 22px
                text-decoration: none
                background: linear-gradient(180deg, #7492FF 0%, #426BFF 100%)
                &:hover
                    background: linear-gradient(180deg, #7392FF 0%, #082FBB 100%)
    .get_start
        text-align: center
        img
            box-shadow: 5px 5px 30px rgba(125, 125, 125, 0.25)
            border-radius: 15px
            margin-bottom: 20px
        a
            color: #4282FF
            font-size: 17px
            line-height: 20px
    .story
        img
            border-radius: 10px
        .title
            color: #1F1F1F
    .check
        font-weight: 500
        font-size: 20px
        line-height: 28px
        letter-spacing: 0.08em
        color: #474747
        background: url('/images/check.png')no-repeat left
        padding-left: 30px
        margin-bottom: 10px
    .links
        .name
            font-weight: 500
            font-size: 20px
            line-height: 28px
            letter-spacing: 0.08em
            color: #1F1F1F
            margin-bottom: 15px
        a
            font-weight: 600
            font-size: 17px
            line-height: 24px
    iframe
        width: 100%
        border: 0
        border-radius: 15px
        margin-bottom: 45px
    .kb_list
        .item
            padding: 0
            margin-bottom: 45px
            &:last-child
                margin-bottom: 0
            .minidesc
                font-weight: 500
                font-size: 20px
                line-height: 24px
                letter-spacing: 0.08em
                color: #474747
    .alert-secondary
        font-size: 16px
        img
            margin-right: 30px
    .gbg
        background: #E5E5E5
        padding: 100px 0
        &:first-child
            background: url('/images/waves.png')no-repeat bottom 40% center,#e5e5e5
    .whbg
        background: #fff
        padding: 100px 0
    .intro_img
        margin-bottom: 40px
    a.black_load
        background: url('/images/blackload_ar.png')no-repeat left 25px center, linear-gradient(180deg, #252525 0%, #0D0D0D 100%)
        border-radius: 10px
        padding: 15px 25px 15px 70px
        color: #fff
        letter-spacing: 0.1em
        font-weight: bold
        font-size: 18px
        line-height: 22px
        text-decoration: none
        display: inline-block
        margin-bottom: 50px
        +transition(all .3s ease)
        &:hover
            background: url('/images/blackload_ar.png')no-repeat left 25px center, linear-gradient(180deg, #7492FF 0%, #426BFF 100%)
    h2
        color: #1F1F1F
        font-weight: bold
        font-family: 'Montserrat', sans-serif
        font-size: 42px
        line-height: 54px
        margin-bottom: 50px
    p
        font-size: 15px
        line-height: 26px
        color: #838383
        margin-bottom: 30px
    strong, b
        font-weight: bold
        color: #000
    ul
        margin-bottom: 30px
        li
            font-size: 15px
            line-height: 26px
            color: #838383
            margin: 15px 0
            list-style: none
            position: relative
            padding-left: 20px
            &:before
                content: ''
                position: absolute
                left: 0
                top: 9px
                width: 8px
                height: 8px
                background: linear-gradient(180deg, #7492FF 0%, #426BFF 100%)
                border-radius: 100%
    .reviews
        .item
            margin-bottom: 45px
            padding: 0
            .rev
                background: url('/images/quotes.png')no-repeat left 30px center, #fff
                border: 1px solid #4282FF
                border-radius: 10px
                padding: 35px 70px 35px 107px
                margin-bottom: 30px
                color: #838383
                font-size: 17px
                line-height: 26px
            .author
                letter-spacing: 0.08em
                color: #474747
                font-weight: 500
                font-size: 20px
                line-height: 24px
                margin-bottom: 5px
            .author_info
                font-size: 15px
                line-height: 24px
                color: #838383
section#story_item
    padding: 90px 0
    h2.maintitle
        color: #1F1F1F
        font-weight: bold
        font-size: 42px
        line-height: 54px
        text-align: center
    .subtitle
        text-align: center
        letter-spacing: 0.08em
        color: #474747
        font-size: 20px
        line-height: 24px
        margin-bottom: 55px
    .intro_img
        margin-bottom: 40px
        img
            border-radius: 15px
    .desc
        font-size: 15px!important
        line-height: 24px!important
        color: #838383
        font-family: 'Lato', sans-serif!important
        p
            font-family: 'Lato', sans-serif!important
            font-size: 15px!important
            line-height: 24px!important
        h3
            font-family: 'Lato', sans-serif!important
            letter-spacing: 0.08em!important
            color: #1F1F1F!important
            font-size: 20px!important
            line-height: 24px!important
        h2
            font-family: 'Lato', sans-serif!important
            letter-spacing: 0.08em!important
            color: #1F1F1F!important
            font-size: 24px!important
            line-height: 32px!important
section#kb_item
    padding: 90px 0
    h1
        font-weight: bold!important
        font-size: 42px!important
        line-height: 54px!important
        color: #1F1F1F!important
        font-family: 'Montserrat', sans-serif!important
    p
        font-family: 'Lato', sans-serif!important
        font-size: 15px!important
        line-height: 24px!important
    h3
        font-family: 'Lato', sans-serif!important
        letter-spacing: 0.08em!important
        color: #1F1F1F!important
        font-size: 20px!important
        line-height: 24px!important
    h2
        font-family: 'Lato', sans-serif!important
        letter-spacing: 0.08em!important
        color: #1F1F1F!important
        font-size: 24px!important
        line-height: 32px!important
    .desc
        font-size: 15px!important
        line-height: 24px!important
        color: #838383
        font-family: 'Lato', sans-serif!important
.pagination
    justify-content: center
    li
        padding-left: 0
        &:before
            display: none
section.profile
    padding: 80px 0
    .group_title
        font-weight: 500
        font-size: 20px
        line-height: 24px
        letter-spacing: 0.08em
        color: #1F1F1F
        padding-bottom: 30px
        border-bottom: 1px solid #E1E1E1
        margin-bottom: 45px
    label
        font-weight: 600
        font-size: 17px
        line-height: 20px
        text-align: right
        color: #1F1F1F
        display: block
        margin-bottom: 0
    .prof_group
        margin-bottom: 60px
    input
        font-weight: 500
        font-size: 17px
        line-height: 20px
        color: #838383
        padding: 5px 24px;
    .row
        margin-bottom: 30px

