.heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 42px;
  line-height: 51px;
  text-align: center; }

.owl-carousel {
  position: static; }

.owl-nav {
  position: absolute;
  right: 0;
  bottom: 55px; }

.owl-next, .owl-prev {
  width: 48px;
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative; }
  .owl-next svg, .owl-prev svg {
    z-index: 2;
    margin-right: 4px;
    fill: #72A1FB; }
  .owl-next span, .owl-prev span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 10px;
    left: 0;
    top: 0;
    z-index: 1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }

.owl-next {
  margin-left: 32px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
  .owl-next svg {
    margin-left: 4px;
    margin-left: 0; }

input[type="text"], input[type="email"], input[type="password"] {
  border: 1px solid #CDCDCD;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 17px;
  padding: 14px 24px;
  color: #838383; }

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
  border: 1px solid #4282FF;
  box-shadow: none !important; }

button[type="submit"] {
  background: linear-gradient(180deg, #7492FF 0%, #426BFF 100%);
  border-radius: 10px;
  width: 200px;
  padding: 0;
  border: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  font-size: 18px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  button[type="submit"] svg {
    margin-right: 10px; }
  button[type="submit"]:hover {
    background: linear-gradient(180deg, #7392FF 0%, #082FBB 100%); }

button:focus, input:focus {
  outline: none; }

img {
  max-width: 100%; }

body {
  font-family: 'Lato', sans-serif;
  color: #000;
  font-size: 15px;
  line-height: 24px; }

header {
  background: rgba(0, 5, 15, 0.8);
  padding: 34px 0;
  position: fixed;
  z-index: 9;
  width: 100%;
  left: 0;
  top: 0; }
  header .logo img {
    max-width: 90%; }
  header .topmenu ul {
    margin: 0;
    padding: 0; }
    header .topmenu ul li {
      list-style: none; }
      header .topmenu ul li a {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #fff;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }

footer .copyright {
  padding: 22px 0;
  background: #030303;
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 17px; }

footer .about_nla {
  background: #F3F3F3;
  padding: 60px 0 70px; }
  footer .about_nla .footmenu {
    margin-top: 50px; }
    footer .about_nla .footmenu a {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #1F1F1F;
      text-transform: capitalize; }
  footer .about_nla .social {
    margin-top: 55px; }
    footer .about_nla .social svg {
      fill: #838383; }

#slider {
  height: 100vh;
  background: url("/images/slider_bg.png") no-repeat center center;
  background-size: cover;
  color: #fff; }
  #slider .social {
    position: absolute;
    bottom: 75px;
    left: 0; }
    #slider .social a {
      display: inline-block;
      margin-right: 35px; }
      #slider .social a svg {
        fill: #fff; }
  #slider .row {
    position: relative; }
  #slider .text {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 68px;
    line-height: 82px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 60px;
    text-shadow: 3px 3px 15px rgba(115, 166, 252, 0.6); }
  #slider .subtext {
    font-size: 18px;
    letter-spacing: 0.6em;
    text-transform: capitalize; }

#create {
  padding: 110px 0; }
  #create .heading {
    margin-bottom: 30px; }
  #create .desc {
    margin-top: 55px;
    font-weight: bold;
    font-size: 21px;
    line-height: 29px;
    color: #474747; }

#latest_news {
  background: #070707;
  padding: 55px 0 75px; }
  #latest_news .heading {
    color: #fff;
    letter-spacing: 0.1em; }

#user_stories {
  padding: 120px 0 60px; }

#newsletter {
  padding: 45px 0 140px; }
  #newsletter .subtext {
    letter-spacing: 0.74em;
    font-size: 20px;
    line-height: 24px;
    margin: 30px 0 70px; }
  #newsletter form {
    position: relative; }
    #newsletter form input {
      width: 100%; }
    #newsletter form button {
      position: absolute;
      top: 0;
      right: 0;
      text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.6); }

#latest_news .heading {
  margin-bottom: 45px; }

#latest_news .container {
  position: relative;
  padding-bottom: 90px; }

#latest_news .owl-nav {
  bottom: 0;
  right: 30px; }

#latest_news .inner {
  background: #fff;
  border-radius: 25px; }
  #latest_news .inner .cat {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-bottom: 45px;
    font-family: Montserrat; }
    #latest_news .inner .cat span {
      margin-right: 18px;
      color: #73A5FC;
      font-weight: bold;
      text-shadow: 3px 3px 7px rgba(115, 165, 252, 0.6);
      display: inline-block;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg); }
  #latest_news .inner .title {
    font-weight: bold;
    font-size: 21px;
    color: #232323;
    font-family: Montserrat;
    margin-bottom: 30px; }
  #latest_news .inner .desc {
    font-size: 15px;
    line-height: 21px;
    color: #767676;
    margin-bottom: 30px; }
  #latest_news .inner .pad {
    padding: 30px 15px; }
    #latest_news .inner .pad .addpad {
      padding: 0 15px; }
  #latest_news .inner a.readmore {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #7492FF 0%, #426BFF 100%);
    border-radius: 0 0 25px 25px;
    color: #fff;
    font-weight: 600;
    font-size: 21px;
    line-height: 68px;
    font-family: Montserrat;
    text-decoration: none; }
    #latest_news .inner a.readmore img {
      width: auto;
      margin-left: 18px; }

#user_stories .heading {
  margin-bottom: 70px; }

#user_stories .container {
  position: relative;
  padding-bottom: 90px; }
  #user_stories .container .title {
    font-weight: bold;
    font-size: 29px;
    line-height: 35px;
    color: #1f1f1f;
    font-family: Montserrat;
    margin-bottom: 15px; }
  #user_stories .container .subtitle {
    font-size: 20px;
    line-height: 24px;
    color: #474747;
    margin-bottom: 25px; }
  #user_stories .container .desc {
    font-size: 15px;
    line-height: 24px;
    color: #838383;
    margin-bottom: 20px; }
  #user_stories .container a.readmore {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #4282ff;
    font-weight: bold;
    text-decoration: none; }
    #user_stories .container a.readmore img {
      margin-left: 20px; }
  #user_stories .container .owl-carousel .owl-nav {
    right: 30px;
    bottom: 0; }
    #user_stories .container .owl-carousel .owl-nav .owl-next span, #user_stories .container .owl-carousel .owl-nav .owl-prev span {
      background: #141414; }
    #user_stories .container .owl-carousel .owl-nav svg {
      fill: #fff; }
  #user_stories .container .owl-carousel .item img {
    max-width: 100%;
    width: auto; }

.intro.login {
  background: url("/images/login_top.jpg") no-repeat center; }

section.intro {
  height: 340px;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center; }
  section.intro h1 {
    color: #fff;
    margin-bottom: 95px;
    font-weight: bold;
    font-size: 42px;
    line-height: 54px; }

section.login-section {
  background: #E5E5E5;
  padding: 80px 0 120px; }
  section.login-section form {
    max-width: 470px;
    background: #fff;
    padding: 35px 30px 10px 30px;
    border-radius: 15px;
    box-shadow: 5px 5px 30px rgba(188, 188, 188, 0.25); }
    section.login-section form .group {
      margin-bottom: 30px; }
      section.login-section form .group input.form-control {
        height: 50px; }
      section.login-section form .group input[type="checkbox"] {
        display: none; }
      section.login-section form .group input[type="checkbox"] + label {
        font-size: 15px;
        line-height: 24px;
        color: #838383;
        letter-spacing: 0;
        display: flex;
        align-items: center;
        position: relative; }
        section.login-section form .group input[type="checkbox"] + label:before {
          content: '';
          display: inline-block;
          border: 1px solid #587CFF;
          border-radius: 4px;
          width: 16px;
          height: 16px;
          margin-right: 12px; }
      section.login-section form .group input[type="checkbox"]:checked + label:after {
        position: absolute;
        content: '';
        background: url("/images/checkbox.png") no-repeat center;
        width: 20px;
        height: 20px;
        left: 2px;
        top: 0; }
      section.login-section form .group button[type="submit"] {
        font-weight: 600;
        font-size: 21px;
        font-family: Montserrat;
        width: 100%;
        height: 50px; }
      section.login-section form .group a.problems {
        font-size: 15px;
        line-height: 24px;
        color: #474747;
        display: flex;
        cursor: pointer;
        padding-bottom: 10px;
        align-items: center; }
        section.login-section form .group a.problems img {
          margin-left: 10px;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease; }
      section.login-section form .group a.problems.opened img {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg); }
      section.login-section form .group .other {
        display: none; }
        section.login-section form .group .other a {
          font-size: 15px;
          line-height: 24px;
          color: #4282FF;
          border-bottom: 1px solid rgba(188, 188, 188, 0.25);
          display: flex;
          align-items: center;
          text-decoration: none;
          height: 40px; }
    section.login-section form label {
      margin-left: 10px;
      font-weight: 500;
      font-size: 20px;
      margin-bottom: 30px;
      line-height: 24px;
      letter-spacing: 0.08em; }

#breadcrumbs {
  background: #f7f7f7;
  border-top: 1px solid #e1e1e1;
  height: 50px;
  align-items: center;
  display: flex;
  font-family: Montserrat;
  color: #1f1f1f;
  font-size: 13px;
  line-height: 16px; }
  #breadcrumbs .container {
    display: flex;
    align-items: center; }
  #breadcrumbs span.divider {
    display: inline-flex;
    align-items: center;
    padding: 0 10px; }

section.register {
  background: #E5E5E5;
  padding: 100px 0 120px; }
  section.register form {
    background: #fff;
    padding: 35px 40px 80px;
    border-radius: 15px;
    box-shadow: 5px 5px 30px rgba(188, 188, 188, 0.25); }
    section.register form .formhead {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.08em;
      padding-bottom: 30px;
      border-bottom: 1px solid #E1E1E1;
      margin-bottom: 45px; }
    section.register form .req {
      margin-left: 30px;
      margin-bottom: 35px;
      font-weight: 500;
      font-size: 17px;
      line-height: 20px; }
    section.register form label {
      font-weight: 500;
      font-size: 17px;
      line-height: 20px;
      width: 205px; }
    section.register form .form-group {
      margin-bottom: 30px; }
      section.register form .form-group button[type="submit"] {
        margin-top: 30px;
        letter-spacing: 0.1em;
        font-weight: bold; }
